## Build results
bin/
obj/

## User-specific files
.vs/
*.user
*.suo

## Logs
*.log

## VS Code
.vscode/

## NuGet
*.nupkg
packages/

## EF tools
migrations/obj/

## Configuration
src/Product.Api/appsettings.json
src/Product.Api/appsettings.Development.json

## OS
Thumbs.db
.DS_Store

# env files
.env*
